html {
  scroll-behavior: smooth;
}
/* body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
} */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;

  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scroll */
  padding-top: 60px; /* Adjust based on Navbar height, e.g., 50px-70px */

  margin: 0;
  padding: 0;
}

/* section {
  padding: 10px 20px;
} */